/*i am gonna change this but because my dropdown have broke the page*/
.dropbtn {
    border: none;
    cursor: pointer;

    width: 25vw;
    font-size: 16px;
  }
  
  .dropbtn:hover, .dropbtn:focus {
    background-color: white;
    color: black;
  }
  
  .dropdown {
    width: 25vw;
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    border: 1px solid black;
    position: absolute;
    overflow: auto;
    z-index: 1;
    
    background-color: white;
  }
  
  .dropdown-content a {
    color: black;
    text-decoration: none;
    display: block;

    padding: 12px 16px;
  }
  /*
  .dropdown a:hover {
    background-color: #ddd;
  }*/
  
  .show {display: block;}